%html{lang: "en", class: "no-js"}
%head
%title {title}{block:PostTitle}: {PostTitle}{/block:PostTitle}
%meta{charset: "utf-8"}
%meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
%meta{name: "author", content: "Karl Stolley"}
{block:Description}
%meta{name: "description", content:"{MetaDescription}"}
{/block:Description}
%link{rel: "stylesheet", media: "all", href: "http://karlstolley.com/assets/css/coderay.css"}
%link{rel: "stylesheet", media: "screen", href: "http://karlstolley.com/assets/css/screen.css"}
%link{rel: "shortcut icon", href:"{Favicon}"}
%link{rel: "alternate", type: "application/rss+xml", href: "{RSS}"}
%script{src: "//use.typekit.net/hgh8pva.js"}
%script try{Typekit.load();}catch(e){}
%body
#page
%header{id: "header"}
%h1
%a{href: "{BlogURL}"} {title}
%h2
{Description}
%nav#navigation
%ul
%li
%a{href: "/ask"} Ask
%li
%a{href: "/archive/"} Archive
#content
{block:Posts}
{block:Text}
%article.textheavy.post
%header
%h1.wayfinder Blog Post
{block:Title}
%h2.instapaper_title
%a{href: "{Permalink}"} {Title}
{/block:Title}
.section
.main
{Body}
{block:More}
%p.more
%a{href:"{Permalink}"} Read on...
{/block:More}
%footer
{block:Date}
%a{href: "{Permalink}"} Posted on {Month} {DayOfMonth}, {Year}
{/block:Date}
{/block:Text}
{block:Link}
%article.link
%header
%h1.wayfinder Link
.section
.main
%h1
%a{href: "{URL}"} {Name}
{Description}
%footer
%a{href: "{Permalink}"} Posted on {Month} {DayOfMonth}, {Year}
{/block:Link}
{block:Quote}
%article.quote
%header
%h1.wayfinder Quote
.section
.main
{block:Source}
%h1.source In the Words of {Source}:
{/block:Source}
%blockquote{class: "quote-{Length}"}
{Quote}
%footer
%a{href: "{Permalink}"} Posted on {Month} {DayOfMonth}, {Year}
{/block:Quote}
{block:Photo}
%article.photo
%header
%h1.wayfinder Photo
.section
.main
.image
%a{href: "{Permalink}"}
%img{src: "{PhotoURL-HighRes}", alt: "{PhotoAlt}", title: "{PhotoAlt}"}
.caption {Caption}
%footer
%a{href: "{Permalink}"} Posted on {Month} {DayOfMonth}, {Year}
{/block:Photo}
{block:Answer}
%article.answer
%header
%h1.wayfinder Q&amp;A
.section
.main
%h1 {Asker} asked:
%blockquote {Question}
{Answer}
%footer
%a{href: "{Permalink}"} Posted on {Month} {DayOfMonth}, {Year}
{/block:Answer}
{/block:Posts}
%footer#footer
%p
:markdown
Site content & design by [Karl Stolley](http://karlstolley.com). Fonts by [Typekit](https://typekit.com/). Built with [Tumblr](https://www.tumblr.com/) and some other things; all is revealed in [the theme’s GitHub repository](https://github.com/karlstolley/tumblrtheme).
%script{src: "//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"}
%script{src: "http://karlstolley.com/assets/js/site.js"}
%script
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-18481911-1']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
